*{
    margin: 0%;
    padding: 0%; 
    box-sizing:border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Style of my nav bar */
.nav{
    width: 100%;
    height: 90px;
    position: fixed;
    right: 0;
    top: 0;
}
/****************************************************************/
.item5{
    float: left;
    width: 50%;
}
.nav  img{
    width: 15%;
    margin-top: 10px;
    margin-left:10%;
}
.nav .container{
    overflow: hidden;
    margin:10px 20px;
    float: right;
}
 .nav .container a{
    color: #fff;
    float: left;
    font-size: 20px;
    padding: 25px; 
    text-decoration: none;
 }

 .container a:hover{
     color: #8e7754 ;
 }

/* end of  Style of my nav bar */

/* Style of first section */
.home{
    background-image: url(../images/drew-coffman-1872.jpg);
    height: 100vh;
    background-size: 100% 100%;
    background-position:center center;
}
.home-content{
    text-align: center;
    padding-top: 150px;
    color: white;
}
.home-content h1{
    font-size: 45px; 
    font-family: 'Alegreya', serif;   
}
.home-content p{
  font-size: 30px;
  margin: 30px 0px;
  font-family: 'Alegreya', serif;   
}
.home-content .btn{
    padding: 20px 20px;
    border: none;
    border-radius: 3px;
    margin: 30px 2px;
    padding: 15px 20px;
    color: white;
}
.home-content .btn1{
    background-color: #8e7754;
    border: solid 1px white;
}
.home-content .btn2{
    border: solid 1px white;
    background-color: transparent;
}
.down-icon{
    position: absolute;
    width: 25px;
    height: 45px;
    border: 2px solid white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    border-radius: 15px;
    animation: scroll 3s ease-in-out infinite;
    margin: auto;

}
.down-icon::after {
    content: "";
    width: 3px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);

}
@keyframes scroll {

    0% {
        bottom: 50px;
    }

    10% {
        bottom: 100px;
    }

    20% {
        bottom: 50px;
    }

    30% {
        bottom: 80px;
    }

    40% {
        bottom: 50px;
    }

    50% {
        bottom: 70px;
    }

    60% {
        bottom: 50px;
    }

    70% {
        bottom: 60px;
    }

    80% {
        bottom: 50px;
    }

    90% {
        bottom: 50px;
    }

    100% {
        bottom: 50px;
    }
}
/* End of first section */

/* Second Section */
.second-section{
    padding: 40px;
    margin: 30px;
    overflow: auto;
}
.second-section img{
    width: 100%;
    padding-right: 50px;
}
.second-section p{
    margin: 10px;
    padding: 20px 30px;
}
.second-section ul{
    list-style: none;
    font-size: 17px;
    padding: 20px;
    margin: 10px;
    /* display: inline-block; */
}
.second-section ul li{
    padding: 15px;

    /* width: 100%; */
}
.second-section li i{
    width: 40px;
    padding: 10px;
    color: #8e7754;
    border: 1px solid #8e7754;
    border-radius: 50%;
    transform: translateX(-50%);

}
/* end of Second Section */

/* Our Location Style */

.location{
    background-color: gainsboro;
    padding: 50px;
}

.location-contents{
    padding: 40px;
}

.location p{
    font-size: 18px;
}
.location img{
    float: right;
    width: 40%;
    margin: 20px 40px;
}
/* end of Our Location Style */

/* Baking Section */
.baking{
    /* padding: 50px;  */
    text-align: center;
    padding: 40px 0px;
}
.baking h2{
    font-family: 'Alegreya', serif; 
    padding: 20px; 
    color: #000;
} 
.baking p{
    margin: 20px ;
    color: #888;
}
.baking-items h3,p{
    padding: 10px;
    display: block;
} 
.baking-items{
    margin: auto;
    width: 80%;
}
.baking-items .item{
    float: left;
    width: 33.333%;
    text-align: center;
    padding: 0px 10px;
    
}
.item img{
    width: 100%;
}
/* End of Baking Section */



/* Contact Information */
.contact{
    background-color: gainsboro;
    padding:50px; 
    
}

.contact p{
    font-size: 18px;
    
}
.contact iframe{
    float: right;
    margin:40px 30px 40px 50px ;
}
.contact ul{
    padding: 10px;
  
}

.contact ul li{
    padding: 15px;
}
.contact ul li i{
    width: 40px;
    padding: 10px;
    color: #fff;
background-color: #8e7754;
border-radius: 50%;
    transform: translateX(-50%);

}

/* End of contact information */


/* footer style */


.footer{
    background-color:black;
    color: white;
    opacity: 0.7;  
}
.about{
    color: #969696;
    width: 20%;
   padding: 20px 10px;
   margin: 30px;
   float: left;
}

.special{
    color:white;
    float: left;
    width: 21%;
   padding: 20px 10px;
   margin: 30px;
    /* text-align: center; */
}

.special ul{
    color: #969696;
    margin: 20px;
    list-style: none;
}
.special li{
    margin:10px;
}

.hours{
    color:white;
    float: left;
    width: 21%;
   padding: 20px 10px;
   margin: 30px;
}

.hours ul{
    color: #969696;
    margin: 23px;
    list-style: none;
}

.hours li{
    margin:15px;
}


.contact-details{
    color:white;
    float: left;
    width: 21%;
   padding: 20px 10px;
   margin: 30px;
}

.contact-details ul{
    color: #969696;
    margin: 20px;
    list-style: none;
}

.contact-details li{
    margin:15px;
}
.contact-details li i{
    width: 40px;
    padding: 10px;
    color: #fff;
    transform: translateX(-50%);
}
.line{
    background-color: #969696;
    width:90%;
    height: 2px;
    opacity: 0.4;
}

/* Bottom of the page style  */
.end{
    background-color: #353330;
 
    
}
.end img{
    margin: auto;
    display: block;  
    padding-top: 25px;
}
.social-icons{
    padding-left: 630px;
}
.social-icons ul{
    list-style: none;
    
}
.social-icons ul li{
    padding: 10px;
    float: left;
}

.social-icons ul li i{
    color: #aca79d;
    background-color: #484540;
    border-radius: 50%;
    padding: 10px;
    float: left;
    margin-right: 8px;
}
.social-icons ul li i.fa-facebook:hover{
    background-color: royalblue;
    color: #fff;
    transition: 1s;
}
.social-icons ul li i.fa-google-plus-g:hover{
    background-color: #E2785D;
    color: #fff;
    transition: 1s;
}
.social-icons ul li i.fa-linkedin:hover{
    background-color: royalblue;
    color: #fff;
    transition: 1s;
}
.social-icons ul li i.fa-twitter:hover{
    background-color: royalblue;
    color: #fff;
    transition: 1s;
}
.end p{
    text-align: center;
    font-size: 10px;
    color: #999;
   
}

/* end of the bottom of the page style */

.icon{
    width: 40px;
    height: 70px;
    position: fixed;
    top: 190px;
    right: 0px;
}
.clear-fix{
    clear: both;
}


/* Not enabled i don't know why! */
 @media screen and (max-width: 768px)
{
   
    .baking-items .item
    {
        width: 100%;
    }
}
